@using MPD.Interviews.WebApplication.Extensions
@model MPD.Interviews.WebApplication.ViewModels.CallSearchViewModel
    
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Search", "CallSearch", FormMethod.Post))
        {
            <div class="form-group col-md-4">
                <label for="User">User</label>
                @Html.DropDownListFor(x => x.SearchTerms.UserId, Model.Users.ToSelectList(), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                <label for="CustomLabel">Custom Label</label>
                @Html.TextBoxFor(x => x.SearchTerms.CustomLabel, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                <label for="StartDate">Start Date</label>
                @Html.TextBoxFor(x => x.SearchTerms.StartDate, new { @class = "form-control", type = "date" })
            </div>
            <div class="form-group col-md-4">
                <label for="StartDate">End Date</label>
                @Html.TextBoxFor(x => x.SearchTerms.EndDate, new { @class = "form-control", type = "date" })
            </div>
            <div class="form-group col-md-4">
                <label for="PhoneNumber">Phone Number</label>
                @Html.TextBoxFor(x => x.SearchTerms.PhoneNumber, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-2">
                <input type="submit" class="btn btn-success" value="Search" />
            </div>
        }
    </div>
</div>