@using MPD.Interviews.WebApplication.ViewModels.Enums
@model MPD.Interviews.WebApplication.ViewModels.CallDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <style type="text/css">
        .exceeded {
            color: red;
        }
        .filter-link-text {
            color: white;
        }
    </style>
}

<div class="container">
    <div>Choose a filter</div>
    <div>
        <div class="btn btn-info">@Html.ActionLink("No Filter", "Index", "Home", new { filterType = CallDetailFilterType.None }, new {@class = "filter-link-text"})</div>
        <div class="btn btn-info">@Html.ActionLink("Morning Calls", "Index", "Home", new { filterType = CallDetailFilterType.MorningCalls }, new { @class = "filter-link-text" })</div>
        <div class="btn btn-info">@Html.ActionLink("Aftrnoon Calls", "Index", "Home", new { filterType = CallDetailFilterType.AfternoonCalls }, new { @class = "filter-link-text" })</div>
        <div class="btn btn-info">@Html.ActionLink("Mobile Numbers", "Index", "Home", new { filterType = CallDetailFilterType.MobileNumbers }, new { @class = "filter-link-text" })</div>
        <div class="btn btn-info">@Html.ActionLink("Landline Numbers", "Index", "Home", new { filterType = CallDetailFilterType.LandlineNumbers }, new { @class = "filter-link-text" })</div>
        @*<a href="0"><div class="btn btn-info">No Filter</div></a>
        <a href="2"><div class="btn btn-info">Morning Calls</div></a>
        <a href="4"><div class="btn btn-info">Afternoon Calls</div></a>
        <a href="8"><div class="btn btn-info">Mobile Numbers</div></a>
        <a href="16"><div class="btn btn-info">Landline Numbers</div></a>*@
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                Date
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Label
            </th>
            <th>
                Duration
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.CallDetails)
        {
            foreach (var call in group.CallDetails)
            {
                <tr class="@(@group.DurationInMinutes > 30 ? "exceeded" : "")">
                    <td>
                        @call.UserId
                    </td>
                    <td>
                        @call.Date.ToString("dd/MM/yyyy HH:mm")
                    </td>
                    <td>
                        @call.PhoneNumber
                    </td>
                    <td>
                        @call.CustomLabel
                    </td>
                    <td>
                        @call.DurationInMinutes.ToString("####.##") (mins)
                    </td>
                </tr>
              }
            <tr>
                <td>
                    Total duration for user @group.CallDetails.First().UserId on @group.CallDetails.First().Date.ToString("dd/MM/yyyy")
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @group.DurationInMinutes (mins)
                </td>
            </tr>
        }
    </tbody>
</table>